.container{
    border-radius: 12px;
    width: 1024px;
    height: 600px;
    display: flex;
    color: white;
 }

.container__inventory{
    padding: 76px 40px;
    /* background-image: url("../../media/goteo2.png"); */
}

.container__main_screen{
    align-items: center;
    flex-flow: column;
}

.box{
    border: 3px solid rgb(081, 098, 115);
    border-radius: 3px;
}


.luna__container{
    margin: auto;
    display: flex;
    flex-direction: column;
}
.luna__gif{
    width: 600px;
    margin: auto
}
.luna__lyrics{
    color:#eee !important;
    text-align: center;
    margin-top:50px;
    margin-bottom: 50px
}