.inventory-middle{
    height: 100%;
    width: 220px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mid--inventory{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}
.mid--inventory .box{
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: center;
}
.img_disabled{
    opacity: 0.5
}

.mid-music{
    height: 28%;
}