@font-face {
    font-family: "pixel";
    src: url("fonts/retro_computer_personal_use.ttf")
}
.pixel{
    font-family: pixel;
}
.App2{
    background: linear-gradient(to top, rgb(010, 010, 010), rgb(027, 024, 038));
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    flex-flow: column;
    overflow: hidden;
}

.container2{
    border-radius: 12px;
    width: 1024px;
    height: 600px;
    display: flex;
    color: white;
    /* background-image: url("goteo2.png"); */
    background-size: 1024px 600px;
    padding: 76px 40px;
}
.character-description {
    height: 100%;
    width: 245px;
    position: relative;
}
.items-absolute{
    position: absolute;
    top: 30px;
    left: -50px
}
.inventory-middle{
    height: 100%;
    width: 220px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mid--inventory{
    height: 68%;
    display: flex;
    overflow: hidden;
}
.inventory--column{
    width: 50%;
    height: 100%;
}
.inventory--column div{
    height: 76px;
}

.mid-music{
    height: 28%;
}
.main--right{
    width: 480px;
}
.right--title{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0px 20px
}
.right--stats{
    height: 195px;
    margin-top: 20px;
    display: flex;
}

.right--stats div p{
    font-size: 19px;
    font-family: inherit;
}

.stats--skills{
    width: 280px;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 17px 10px 0px 18px;
}
.stats--basics{
    height: 95%;
    width: 200px;
    padding: 17px 10px 0px 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.stats--names{
}
.stats--points{
    text-align: end;
}

.stats--title{
    width: 100%;
    height: 20px;
}
.stats--font{
    line-height: 1.6;
    color: rgb(255,255,098);
}


.right--lyrics{
    height: 180px;
    margin-top: 15px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.lyrics--box{
    width: 300px;
    height: 100%;
    line-height: 1.4;
    font-size: 17px;
    padding-top: 30px;
    padding-right: 40px
}

.anima2{
    position: absolute;
    top: -13px;
    left: -12px;
}

.box{
    border: 3px solid rgb(081, 098, 115);
    border-radius: 3px;
}
